<%- include('partials/head.ejs') %>
<main>
    <form autocomplete="off" method="post" action="/">
        <fieldset>
            <legend>Report a complaint</legend>
            <span class="loader"></span>
            <span class="retrieving">Retrieving location</span>
            <span class="error hidden">Please allow location access</span>
            <label>
                <input id="nextStation" type="text" name="nextStation" placeholder="Next station of the train">
            </label>
            <ul class="nextstation-autocomplete">
            </ul>
            <label>
                <input id="lastStation" type="text" name="finalStation" placeholder="End station of the train">
            </label>
            <ul class="laststation-autocomplete">
            </ul>
            <div class="hidden">
                <input id="lon" type="text" name="lon">
                <input id="lat" type="text" name="lat">
            </div>
        </fieldset>
        <input type="submit" value="Bevestigen">
    </form>
</main>
<%- include('partials/foot.ejs') %>